block title
	- var title = ""

block description
	- var description = siteDesctiption

block url
	- var url = ""

head
	meta(
		http-equiv="X-UA-Compatible"
		content="IE=edge"
	)
	meta(charset="utf-8")
	meta(
		name=viewport 
		content="width=device-width, initial-scale=1"
	)
	meta(
		name=description
		content="A website for motion design collabs."
	)
	meta(
		name=author
		content="/r/AfterEffects"
	)
	<!--Begin SEO-->
	meta(
		property="og:title"
		content="Home"
	)
	meta(
		property="og:locale"
		content="en_US"
	)
	meta(
		name="description"
		content="A website for motion design collabs."
	)
	meta(
		property="og:description"
		content="A website for motion design collabs."
	)
	link(
		rel="canonical"
		href=url
	)
	meta(
		property="og:url"
		content=url
	)
	meta(
		property="og:site_name"
		content="Motion Collabs"
	)
	meta(
		property="og:image"
		content=""
	)
	meta(
		name="twitter:card"
		content="summary_large_image"
	)
	meta(
		name="twitter:site"
		content="@"
	)
	<!--End SEO-->
	<!--Begin Favicon--><!--End Favicon-->
	